*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #f3f3f5;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1rem;
  }

  *::-webkit-scrollbar-track {
    background: #f3f3f5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 1px solid #ffffff;
  }


html {
  scroll-behavior: smooth;
}

body{
  background-color: #F3F3F5;  
}


.container{
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin:0 auto;
  overflow:hidden;
}

.title{
  display:flex;
  justify-content:center;
  padding-top: 2.188rem;
}

.title>h1{
  font-family: 'Poiret One', cursive;
  font-size: 3.25rem;
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: center;
}

.navbar>li{
  width: 20.125rem;
  font-size: 2.188rem;
  font-family: 'Poiret One', cursive;
  display: flex;
  justify-content: space-between;
}

.navbar>li>a {
  color: #000;
  text-decoration: none; 
  display: inline-block;
  position: relative;
}

.navbar>li>a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar>li>a:hover:after { 
  width: 100%; 
  left: 0; 
}


.quote-div{
  padding: 2rem;
  font-family: 'Gaegu', 'Poiret One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote{
  text-align: center;
  font-size: 2.813rem;
  font-style: oblique;
}

.author{
  padding: 0rem;
  font-size: 2rem;
}


.about-div{
  padding: 0rem;
  display: flex;
  justify-content: center;
}

.pfp{
  width: 23rem;
  height: 18.666rem;
}

.pfp>img{
  max-width:100%;
  max-height:100%;
  margin: auto;
  display: block;
  /* filter: grayscale(100%); */
  pointer-events: none;
}

.about-para{
  width: 23rem;
  height: 18.666rem;
  background-color: white;
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
  padding: 1rem;
}

#cartoon{
  font-family: 'Gaegu', cursive;
  font-size: 1.8rem;
}

#illust{
  font-family: 'Gaegu', cursive;
  font-size: 1.8rem;
}

footer{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 0 0.5rem;
  background-color: #ededf2;
}

@media only screen and (max-width: 960px) {
  .about-div{
    flex-direction: column;
    align-items: center;
  }
}
